<mat-toolbar class="fixed-height-navbar" color="primary">

    <mat-toolbar-row>
        <span>AtleticaPascal</span>

        <!-- This fills the remaining space of the current row -->
        <span class="example-fill-remaining-space"></span>

        <!-- <span><a (click)="goToLogin()"> LOGIN </a></span> -->
        <button mat-icon-button (click)="goToLogin()"><mat-icon aria-hidden="false" aria-label="Login Icon">supervised_user_circle</mat-icon></button>
    </mat-toolbar-row>
</mat-toolbar>