<div class="background">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <mat-form-field style="width:100%;" class="ca80">
                    <mat-label>Classe : </mat-label>
                    <mat-select style="width: 100%;">
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let class of classes" [value]="class" (click)="showStudents(class)">
                            {{class.class}}{{class.section}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <button mat-button (click)="boh()" style="background-color: green; color: white;">Salva Modifiche</button>
            </div>
        </div>

        <div class="row" *ngIf="firstTimeShow">
            <div class="col-md-12">
                <table mat-table [dataSource]="students" class="mat-elevation-z8">

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} {{element.surname}}</td>
                    </ng-container>

                    <!-- Class Name -->
                    <ng-container matColumnDef="class_name">
                        <th mat-header-cell *matHeaderCellDef> Classe </th>
                        <td mat-cell *matCellDef="let element"> {{element.class_name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef> Gara </th>
                        <td mat-cell *matCellDef="let element">  
                        <mat-select [value]="element.raceDescription">
                            <mat-option (click)="deleteStudentInscription(element)">--</mat-option>
                            <div *ngIf="element.sex === 'M'">
                                <mat-option *ngFor="let race of racesM" [value]="race.specialityTipe" (click)="updateStudentInscription(element,race)"> {{race.specialityTipe}}</mat-option>
                            </div>
                            <div *ngIf="element.sex === 'F'">
                                <mat-option *ngFor="let race of racesF" [value]="race.specialityTipe" (click)="updateStudentInscription(element,race)"> {{race.specialityTipe}}</mat-option>
                            </div>
                        </mat-select> 
                    </td>
                    </ng-container>

                   

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="sex">
                        <th mat-header-cell *matHeaderCellDef> Sesso </th>
                        <td mat-cell *matCellDef="let element"> {{element.sex}} </td>
                    </ng-container>

                    

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                </table>
            </div>
        </div>
    </div>
</div>