table {
  margin-top: 25px;
  width: 100%;
}

.container{
    background-color: #FAFAFA;
    z-index: 5000;
    padding: 25px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.background {
    z-index: 5;
    height: auto;
    min-height: calc(100% - 56px);
    background-color: #81D4FA;
}