.avatarImage { 
    width: 120px;
    height: 120px;
    background-image: url('../../resources/avatar.png');
    background-size: cover;
    background-position: center;
}

.full-width{
    width: 100%;
}

.fixed-height-navbar {
    height: 56px;
}

.background {
    height: calc(100% - 56px);
    background-color: #73e8ff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}