.avatarImage {
    width: 150px;
    height: 150px;
    background-image: url('../../resources/avatar2.png');
    background-size: cover;
    background-position: center;
}

.full-width {
    margin-left: 20%;
    margin-right: 20%;
    width: 100%;
}

.fixed-height-navbar {
    height: 56px;
}

.background {
    height: auto;
    min-height: calc(100vh - 64px);
    background-color: #73e8ff;
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
}

.container {
    z-index: 5000;
    padding: 25px;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background-color: #FAFAFA;
}

mat-card {
    margin-top: 25px;
    border-radius: 0px;
    box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.19), 2px 6px 6px rgba(0, 0, 0, 0.23) !important;
}

mat-card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
}

mat-card button {
    height: 40px;
    border-radius: 0px;
}