.full-width {
    width: 100%;
}

.fixed-height-navbar {
    height: 56px;
}

.fix-height {
    height: 200px;
}

button {
    height: 40px;
}

.background {
    height: auto;
    min-height: calc(100% - 56px);
    background-color: #73e8ff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#prof {
    background-image: url('/src/resources/prof.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#record {
    background-image: url('/src/resources/podio.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#news {
    background-image: url('./images/news.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}