<div class="background">
    <div class="container">
        <div class="row">
            <div class="col-md-4" style="margin-top: 50px;">
                <mat-card>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-card-header style="display: inline; text-align: center">
                                <mat-card-title style="font-size: 40px;"><b>PROFESSORI</b></mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="fix-height" id="prof"></div>
                            </mat-card-content>
                            <mat-card-actions>
                                <button (click)="goToTeachers()" mat-raised-button class="full-width" color="primary">ELENECO PROFESSORI</button>
                            </mat-card-actions>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="col-md-4" style="margin-top: 50px;">
                <mat-card>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-card-header style="display: inline; text-align: center">
                                <mat-card-title style="font-size: 40px;"><b>RECORD</b></mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="fix-height" id="record"></div>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-raised-button class="full-width" color="primary">PROSSIMAMENTE (TODO)</button>
                            </mat-card-actions>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="col-md-4" style="margin-top: 50px; margin-bottom: 50px;">
                <mat-card>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-card-header style="display: inline; text-align: center">
                                <mat-card-title style="font-size: 40px;"><b>NOTIZIE</b></mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="fix-height" id="news"></div>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-raised-button class="full-width" color="primary">NON FUNZIONA ANCORA</button>
                            </mat-card-actions>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>