.full-width {
    width: 100%;
}

.fixed-height-navbar {
    height: 56px;
}

.fix-height {
    height: 200px;
}

button {
    height: 40px;
}

.container{
    height: auto;
    min-height: calc(100% - 64px);
}

.background {
    height: auto;
    min-height: calc(100% - 64px);
    background-color: #73e8ff;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-image: url('../../resources/fullLogo.png');
}

#prof {
    background-image: url('../../resources/prof.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#record {
    margin: auto;
    background-image: url('../../resources/podio.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#news {
    background-image: url('../../resources/news.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}