<div class="background">
    <div class="container">
        <div class="row">
            <div class="col-md-4" style="margin-top: 50px;">
                <mat-card>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-card-header style="text-align: center">
                                <mat-card-title>Professori</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="fix-height" id="prof"></div>
                            </mat-card-content>
                            <mat-card-actions>
                                <button (click)="goToTeachers()" mat-raised-button class="full-width" color="primary">Test</button>
                            </mat-card-actions>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="col-md-4" style="margin-top: 50px;">
                <mat-card>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-card-header style="text-align: center">
                                <mat-card-title>Record</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="fix-height" id="record"></div>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-raised-button class="full-width" color="primary">Test</button>
                            </mat-card-actions>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="col-md-4" style="margin-top: 50px;">
                <mat-card>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-card-header style="text-align: center">
                                <mat-card-title>Notizie</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="fix-height" id="news"></div>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-raised-button class="full-width" color="primary">Test</button>
                            </mat-card-actions>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>
